* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: Merri_R;
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: Merri_B;
    src: url("../fonts/Merriweather/Merriweather-Bold.ttf");
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

/* -------------Global--------------- */

main {
    margin-top: 7vh;
    margin-left: 20vh;
}


a {
    color: #202020;
    padding: 5px;
}

/* -------------Navigation----------- */

header nav ul {
    font-family: Lato;
    font-size: 1.2rem;
    padding-right: 1vw;
    padding-top: 1vw;
    display: flex;
    justify-content: flex-end;
}

/* -----------Section_first------------ */
.first {
    display: flex;
    justify-content: space-between;
}



.first h2 {
    width: 39vw;
    font-size: 3rem;
    font-family: Merri_B;
}

.first p {
    width: 28vw;
    line-height: 3vh;
    padding-top: 2vh;
    font-family: Merri_R;
}

.giphy img {
    height: 49vh;
    width: 25vw;
}

#Buttons {
    padding-top: 20px;
    display: flex;
    gap: 5px;
}

#B_download {
    font-family: Merri_R;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10%;
    border-style: none;
    margin-right: 10px;
}

#B_subscribe {
    font-family: Merri_R;
    background-color: white;
    padding: 10px;
    border-radius: 10%;
    border-style: none;
    margin-right: 10px;
    border: 0.5px solid lightgrey;

}

/* ----------Section_second----------- */


.second {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    padding-right: 7vw;
}

.face img {
    height: 49vh;
    width: 25vw;
}

.second h2 {
    width: 500px;
    height: 120px;
    font-size: 48px;
    font-family: Merri_B;
}

.second article p {
    width: 29vw;
    height: 30vw;
    line-height: 3.5vh;
    padding-top: 3vh;
    font-family: Merri_R;
}

/* ---------Secton_third--------- */

.third {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}

.third h2 {
    width: 30vw;
    font-size: 3rem;
    font-family: Merri_B;
}

.third p {
    width: 29vw;
    height: 30vw;
    line-height: 3.5vh;
    padding-top: 3vh;
    font-family: Merri_R;
}

.fish img {
    height: 44vh;
    width: 38vw;
    padding-right: 10vw;
}

/* ----------Section_fourth---------- */

.three_pics {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10vw;
}

.three_pics img {
    width: 25vw;
    height: 30vh;
}

.three_pics img:hover {
    border: 3px ridge lightgrey;
}

.fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.column {
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fourth h2 {
    width: 51vw;
    font-size: 3rem;
    font-family: Merri_B;
}

.fourth p {
    padding-right: 3vw;
    width: 51vw;
    height: 13vh;
    text-align: center;
    line-height: 3.5vh;
    padding-top: 3vh;
    font-family: Merri_R;
}

/* ----------Section_fifth-------- */

.six_pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 10vw;
}

.six_pics img {
    width: 35vw;
    height: 30vh;
    margin-bottom: 2.5vh;
}

.six_pics img:hover {
    border: 3px ridge lightgrey;
}



.fifth h2 {
    text-align: center;
    width: 51vw;
    font-size: 3rem;
    font-family: Merri_B;
}

.fifth p {
    width: 49vw;
    text-align: center;
    line-height: 3.5vh;
    padding-top: 3vh;
    font-family: Merri_R;
}

.column_two {
    height: 20vh;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------Section_sixth-------- */

.sixth h2 {
    padding-top: 10vh;
    padding-bottom: 2vh;
    text-align: center;
    width: 51vw;
    font-size: 3rem;
    font-family: Merri_B;
}

.sixth p {
    width: 33vw;
    text-align: center;
    line-height: 3.5vh;
    padding-top: 3vh;
    font-family: Merri_R;
}

/* -------Section_Member-------- */

.member {
    background-color: #55ACEE1A;
    margin-left: 26vw;
    width: 25vw;
    margin-top: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member h2 {

    padding-top: 4vh;
    padding-bottom: 6vh;
    text-align: center;
    width: 51vw;
    font-size: 1.5rem;
    font-family: Merri_B;
}

.fiftyseven {
    font-family: Merri_B;
    font-size: 5rem;
    padding-bottom: 3vh;
}

.year {
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: #7E7E7E;
    font-family: Merri_R;
}

.member ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Merri_R;
    margin-bottom: 2vh;
}

.B_member {
    Background-color: #55ACEE;
    font-size: 1.1rem;
    border-radius: 10px;
    border-style: none;
    padding: 15px 50px;
    margin-bottom: 5vh;
}

.B_member a {
    color: white;
}

/* ----------footer------------ */
.any {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.any h2 {
    margin-top: 5vh;
    font-size: 3rem;
    font-family: Merri_B;
}

.mail {
    font-size: 1.2rem;
    padding-top: 2vh;
    color: #7E7E7E;
    font-family: Merri_R;
}

.super {
    font-size: 1.2rem;
    padding-top: 2vh;
    font-family: Merri_R;
}

footer ul {
    display: flex;
    justify-content: center;
    padding-left: 5.5vw;
}

footer li a {
    margin-top: 2vh;
    padding-bottom: 2vh;
    font-family: Merri_R;
    font-size: 1.3rem;
}

.ig a {
    color: #FCAF45;
}

.tw a {
    color: #55ACEE;
}

.yt a {
    color: #C4302B;
}